
body {
   height:100px;
   align-items: center;
}
h1{
   font-size: 50px;
   font-style: italic;
   padding:10px;
   text-align: center;
}

.topnav a{
   display:block;
   padding: 10px 20px 10px;
   background-color: #60407d5f;
   border: 2px solid rgb(143, 96, 143);
   border-radius: 10px;
   text-decoration: none;
   font-style: italic;
   color: rgba(255, 255, 255, 0.851);
   font-size: 30px;
   padding:initial;
   text-align: center;
}

body, html {
   font-family: "bc-alphapipe", sans-serif;
   font-style: normal;
   font-size:large;
   color:#ffffffe9;
   text-shadow: 2px 2px #000000c5;
   line-height:1.2;
   }

.portfoliovideo {
      position:fixed;
       bottom: 0;
       left:0;
       top:0;
       min-width: 100%;
       min-height: 100%;
       width: flex;
       height: flex;
       z-index:-1;
       filter:opacity(90%);
       transform: translateX(50%)
       translateY(50);
       filter:saturate();
    }


.box {
   background-color: rgba(112, 59, 137, 0.836);
   padding-inline: 1em 2em;
   padding: 1em;
   border-radius: 20px;
   border-width: 20px;  
   font-size: larger;
}

img {
   position:relative;
   background-color: rgba(104, 60, 127, 0.215);
   border-radius: 20px;
   border-style:dotted;
   border-color: rgba(87, 31, 87, 0.697);

}

.box3 {
   border-radius: 10px;
   width:300px;
}

input{
   font-size: large;
   font-style: italic;
   font-family: "bc-alphapipe", sans-serif;
}


